body {
    overflow-x: auto; 
    overflow-y: hidden; 
    background-color: #1B1C1E;
}

.rootSvg {
    user-select: none;
}

.node {
    cursor: pointer;
}

.node circle {
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
