body {
    background-color: #1B1C1E
}

.storyboard {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
}

.storyboard .frame {
    border: 1px solid rgb(93, 97, 104);
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    min-width: 150px;
    width: 150px;
    height: 100px;
    user-select: none;
    background-color: rgb(55, 57, 61)
}

.storyboard .frame img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.storyboard .frame:hover {
    box-shadow: 0 0 2px 1px rgba(50, 203, 253, 0.863);
}

.storyboard .frame[selected="true"] {
    box-shadow: 0 0 2px 1px rgba(190, 243, 45, 0.822);
}

.storyboard .frame .removeButton {
    width: 22px;
    height: 22px;
    position: relative;
    left: 112;
    bottom: 86;
    display: none;
}

.storyboard .frame:hover .removeButton {
    display: block;
}

.storyboard .frame .removeButton rect {
    fill: rgba(188, 188, 188, 0.3);
}

.storyboard .frame .removeButton:hover rect {
    fill: rgba(188, 188, 188, 0.75);
}

.storyboard .frame .removeButton path {
    fill: none;
    stroke: rgba(72, 72, 72, 0.6);
    stroke-width: 3px;
}

.storyboard .frame .removeButton:hover path {
    stroke: rgba(72, 72, 72, 0.9);
}